
/*Border */
table, th, td {
	border-style: inset;
    border-color: green;
	}
	
/*Header1*/
h1 {
	color: red;
	text-align: center;
}

/*Header5*/
h5 {
	color: pink;
	text-align: center;
}

/*Table Titles*/
th {
	color: blue;
}

/*Table Data*/
tbody td {
	padding: 8px;
	vertical-align: center;
	horizontal-align: center;
	color: purple;
}

/*whole table not sure it's doing anything*/
table {
	table-layout: center;
}

/*Table Row Alternate Color*/
tbody tr:nth-child(even) {
	background-color: yellow;
}
