
/*Body*/
body {
	background-color: FAE6B1;
	
}

/*Border for table, th, td*/
table, th, td {
	border: 2px inset green;
	}
	
/*Header1*/
h1 {
	color: FFA101;
	text-align: center;
}

/*Header3*/
h3 {
	color: B3DEE5;
}

/*Header4*/
h4 {
	color: 31525B;
}

/*Table Titles*/
th {
	color: blue;
}

/*Table Data*/
tbody td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	color: purple;
}

/*whole table not sure it's doing anything*/
table {
	table-layout: fixed;
	margin: 0 auto;
}

/*Table Row Alternate Color*/
tbody tr:nth-child(even) {
	background-color: yellow;
}

/*List Item*/
li {
	color: 31525B
}

/*Paragraph*/
p {
	padding: 5px;
}

/*Images*/
img {
	max-width: 100%;
	height: auto;
}